In [ ]:
# !pip install plotly.express

Column Definations available here - 
https://support.google.com/analytics/answer/7029846#zippy=

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from google.cloud import bigquery
client = bigquery.Client()

In [2]:
# %pwd 
%cd /home/jupyter/BQML

/home/jupyter/BQML

In [3]:
import bq_helper_functions

In [4]:
project_id='bigquery-public-data'
dataset_id= 'ga4_obfuscated_sample_ecommerce'

In [7]:
%%time 

table_params = bq_helper_functions.get_table_detail_dict(project_id,dataset_id)
df , query = bq_helper_functions.get_data_shape(table_params)
print(query)
df

SELECT count(distinct column_name), (select  count(*) from  `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_*`) FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.INFORMATION_SCHEMA.COLUMNS`
CPU times: user 55 ms, sys: 5.96 ms, total: 61 ms
Wall time: 4.52 s

   Total Columns  Total Rows
0             23     4295584

In [6]:
%%time

table_params = bq_helper_functions.get_table_detail_dict(project_id,dataset_id)
df , query = bq_helper_functions.get_topN_data_from_table(2, table_params,all_tables=True)
print(query)
df

SELECT * FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_*` LIMIT 2
CPU times: user 47.4 ms, sys: 8.67 ms, total: 56.1 ms
Wall time: 4.9 s

,event_date,event_timestamp,event_name,event_params,event_previous_timestamp,event_value_in_usd,event_bundle_sequence_id,event_server_timestamp_offset,user_id,user_pseudo_id,privacy_info,user_properties,user_first_touch_timestamp,user_ltv,device,geo,app_info,traffic_source,stream_id,platform,event_dimensions,ecommerce,items
0,20210101,1609468318563156,first_visit,"[{'key': 'ga_session_number', 'value': {'strin...",NaN,NaN,1177212143,NaN,None,1003046.9452926974,"{'analytics_storage': None, 'ads_storage': Non...",[],1609468318563156,"{'revenue': 0.0, 'currency': 'USD'}","{'category': 'desktop', 'mobile_brand_name': '...","{'continent': 'Europe', 'sub_continent': 'West...",None,"{'medium': 'organic', 'name': '(organic)', 'so...",2100450278,WEB,None,"{'total_item_quantity': None, 'purchase_revenu...",[]
1,20210101,1609468318563156,page_view,"[{'key': 'page_location', 'value': {'string_va...",NaN,NaN,1177212143,NaN,None,1003046.9452926974,"{'analytics_storage': None, 'ads_storage': Non...",[],1609468318563156,"{'revenue': 0.0, 'currency': 'USD'}","{'category': 'desktop', 'mobile_brand_name': '...","{'continent': 'Europe', 'sub_continent': 'West...",None,"{'medium': 'organic', 'name': '(organic)', 'so...",2100450278,WEB,None,"{'total_item_quantity': None, 'purchase_revenu...",[]

In [7]:
%%time

table_params = bq_helper_functions.get_table_detail_dict(project_id,dataset_id)
df , query = bq_helper_functions.get_all_tables_in_dataset(table_params)
print(query)
df

SELECT TABLE_NAME from `bigquery-public-data.ga4_obfuscated_sample_ecommerce.INFORMATION_SCHEMA.TABLES`
CPU times: user 37.5 ms, sys: 8.32 ms, total: 45.8 ms
Wall time: 2.01 s

         TABLE_NAME
0   events_20210109
1   events_20201109
2   events_20210110
3   events_20210123
4   events_20201107
..              ...
87  events_20210116
88  events_20201119
89  events_20201125
90  events_20201118
91  events_20201202

[92 rows x 1 columns]

In [8]:
%%time

table_params = bq_helper_functions.get_table_detail_dict(project_id,dataset_id,'events_20201119')
df , query = bq_helper_functions.get_datatypes_of_column(table_params) #table name is required
print(query)
df

SELECT column_name,ordinal_position, is_nullable,data_type FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.INFORMATION_SCHEMA.COLUMNS` WHERE table_name = 'events_20201119'
CPU times: user 35.9 ms, sys: 9.67 ms, total: 45.5 ms
Wall time: 1.98 s

,column_name,ordinal_position,is_nullable,data_type
0,event_date,1,YES,STRING
1,event_timestamp,2,YES,INT64
2,event_name,3,YES,STRING
3,event_params,4,NO,"ARRAY<STRUCT<key STRING, value STRUCT<string_v..."
4,event_previous_timestamp,5,YES,INT64
5,event_value_in_usd,6,YES,FLOAT64
6,event_bundle_sequence_id,7,YES,INT64
7,event_server_timestamp_offset,8,YES,INT64
8,user_id,9,YES,STRING
9,user_pseudo_id,10,YES,STRING
10,privacy_info,11,YES,"STRUCT<analytics_storage INT64, ads_storage IN..."
11,user_properties,12,NO,"ARRAY<STRUCT<key INT64, value STRUCT<string_va..."
12,user_first_touch_timestamp,13,YES,INT64
13,user_ltv,14,YES,"STRUCT<revenue FLOAT64, currency STRING>"
14,device,15,YES,"STRUCT<category STRING, mobile_brand_name STRI..."
15,geo,16,YES,"STRUCT<continent STRING, sub_continent STRING,..."
16,app_info,17,YES,"STRUCT<id STRING, version STRING, install_stor..."
17,traffic_source,18,YES,"STRUCT<medium STRING, name STRING, source STRING>"
18,stream_id,19,YES,INT64
19,platform,20,YES,STRING
20,event_dimensions,21,YES,STRUCT<hostname STRING>
21,ecommerce,22,YES,"STRUCT<total_item_quantity INT64, purchase_rev..."
22,items,23,NO,"ARRAY<STRUCT<item_id STRING, item_name STRING,..."

In [6]:
%%time

table_params = bq_helper_functions.get_table_detail_dict(project_id,dataset_id)
df, query = bq_helper_functions.get_table_metadata(table_params)
print(query)
df

SELECT * FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.__TABLES__`
CPU times: user 38.2 ms, sys: 6.1 ms, total: 44.3 ms
Wall time: 2.03 s

,project_id,dataset_id,table_id,creation_time,last_modified_time,row_count,size_bytes,type
0,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20201101,1628634490530,1628634490530,31272,23566064,1
1,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20201102,1628634490716,1628634490716,48388,37495889,1
2,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20201103,1628634490537,1628634490537,61672,47616695,1
3,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20201104,1628634490714,1628634490714,51866,40020148,1
4,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20201105,1628634490758,1628634490758,51952,40037683,1
...,...,...,...,...,...,...,...,...
87,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20210127,1628634497994,1628634497994,48665,38448344,1
88,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20210128,1628634498081,1628634498081,43131,33889422,1
89,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20210129,1628634498271,1628634498271,40877,32506668,1
90,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20210130,1628634498523,1628634498523,30395,23951725,1
91,bigquery-public-data,ga4_obfuscated_sample_ecommerce,events_20210131,1628634498435,1628634498435,26489,20074265,1

In [ ]:
%%time

table_params = bq_helper_functions.get_table_detail_dict(project_id,dataset_id,'events_20201119')
df , query = bq_helper_functions.get_datatypes_of_column(table_params,specific_type="FLOAT64") #table name is required
print(query)
df

In [ ]:
%%bigquery
# All the ARRAY Structure Columns
SELECT 
    column_name,ordinal_position,
    is_nullable,data_type
FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.INFORMATION_SCHEMA.COLUMNS`
WHERE table_name = 'events_20210116'
AND data_type like 'ARRAY%'

In [ ]:
%%bigquery
# All the Struct Structure Columns
SELECT 
    column_name,ordinal_position,
    is_nullable,data_type
FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.INFORMATION_SCHEMA.COLUMNS`
WHERE table_name = 'events_20210116'
AND data_type like 'STRUCT%'

In [ ]:
%%bigquery
SELECT       
    privacy_info,user_ltv,device,
    geo,app_info,app_info,traffic_source,
    event_dimensions,ecommerce
FROM 
    `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_*`
LIMIT 2

In [ ]:
%%bigquery
SELECT 
    privacy_info.key as key
FROM 
    `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_*`,
    UNNEST(privacy_info) as privacy_info
LIMIT 2

In [ ]:
%%bigquery
# All the STRING, INT64 Columns
SELECT 
    column_name,ordinal_position,
    is_nullable,data_type
FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.INFORMATION_SCHEMA.COLUMNS`
WHERE table_name = 'events_20210116'
AND data_type not like 'STRUCT%'
AND data_type not like 'ARRAY%'

In [ ]:
query = """
SELECT 
    column_name,ordinal_position,
    is_nullable,data_type
FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.INFORMATION_SCHEMA.COLUMNS`
WHERE table_name = 'events_20210116'
"""
df = get_df_from_query(query)

In [ ]:
df.head()

In [ ]:
df[df['data_type'].str.startswith('ARRAY', na=False)]

In [ ]:
df[df['column_name']=='event_params']['data_type'].iloc[0]

In [ ]:
df[df['column_name']=='event_params']['data_type'].iloc[0].split(' ')