In [3]:
import pandas as pd
from google.cloud import bigquery

In [4]:
bqclient = bigquery.Client()

In [5]:
query_string = """
SELECT
CONCAT(
    'https://stackoverflow.com/questions/',
    CAST(id as STRING)) as url,
view_count
FROM `bigquery-public-data.stackoverflow.posts_questions`
WHERE tags like '%google-bigquery%'
ORDER BY view_count DESC
"""

In [6]:
dataframe = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)

In [8]:
dataframe.head()

                                            url  view_count
0  https://stackoverflow.com/questions/35159967      110426
1  https://stackoverflow.com/questions/22879669      104978
2  https://stackoverflow.com/questions/10604135      100158
3  https://stackoverflow.com/questions/27060396       84098
4  https://stackoverflow.com/questions/11057219       76822

In [9]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [10]:
%%bigquery
SELECT
    source_year AS year,
    COUNT(is_male) AS birth_count
FROM `bigquery-public-data.samples.natality`
GROUP BY year
ORDER BY year DESC
LIMIT 15

Query complete after 0.01s: 100%|██████████| 3/3 [00:00<00:00, 1599.86query/s]
Downloading: 100%|██████████| 15/15 [00:01<00:00, 14.31rows/s]

    year  birth_count
0   2008      4255156
1   2007      4324008
2   2006      4273225
3   2005      4145619
4   2004      4118907
5   2003      4096092
6   2002      4027376
7   2001      4031531
8   2000      4063823
9   1999      3963465
10  1998      3945192
11  1997      3884329
12  1996      3894874
13  1995      3903012
14  1994      3956925